<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="/bin;CrystalReports/bin;" />
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.3.0" newVersion="7.5.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <CompatSortNLSVersion enabled="4096" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		

		
		<!--*add comments*-->
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>

        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>

        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
  <location path="Presentation/images;Presentation/Styles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
		<customErrors mode="On" defaultRedirect="GenericErrorPage.html">
			<error statusCode="500" redirect="ServerError.html" />
			</customErrors>
      <!--<customErrors mode="Off"/>-->
    </system.web>
  </location>
  <system.web>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms name="SafeMedLogin" loginUrl="Presentation/LoginPage.aspx" protection="All" path="/" />
    </authentication>
    <authorization>
      <!-- Deny anonymous users -->
      <allow users="*" />
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB" />
    <httpRuntime maxRequestLength="32768" />
  
	  <xhtmlConformance mode="Legacy" />
  
	  <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <appSettings>
    <add key="Database" value="Oracle" />
    <add key="StyleBasis" value="Normal" />
    <add key="Normal" value="" />
    <add key="LoginLog" value="Y" />
    <add key="FILTERS" value="ProgrammableLengthFilter" />
    <add key="EnableCache" value="True" />
    <add key="DisabilityStyle" value="test" />
    <add key="NoOfListerRows" value="20" />
    <add key="NoOfTabularRows" value="20" />
    <add key="Audit" value="N" />
    <!-- Error Log -->
    <add key="ExceptionLogEnabled" value="true" />
    <add key="ExceptionLogPath" value="errorlogs\SampleXMLLog.xml" />
    <add key="ExceptionLogTokens" value="Concurrency,DEFAULT,Foreign,Timeout,timeout,TIMEOUT,Thread,Input,string,format,Object,reference" />
    <add key="GlobalVariable" value="None" />
    <!--<add key="DSN" value="Provider=MSDAORA.1;User ID=SLBANCAPRD;Password=SLBANCAPRD;Data Source=GBA_o12c;Extended Properties=;Persist Security Info=True;Pooling=True;Max Pool Size=3;"/>
    <add key="DSNILAS" value="Provider=MSDAORA.1;User ID=SLILASPRD;Password=SLILASPRD;Data Source=GBA_o12c;Extended Properties=;Persist Security Info=True;Pooling=True;Max Pool Size=3;"/>-->
 
	  <!--// 19C connection-->

   

    <add key="DSN" value="Provider=OraOLEDB.Oracle.1;Persist Security Info=False;User ID=SLBANCAJS;Password=SLBANCAJS;Data Source=ORCL19C;Extended Properties=;Persist Security Info=True;Pooling=True;Max Pool Size=3" />
 
    <add key="DSNJS" value="Provider=OraOLEDB.Oracle.1;Persist Security Info=False;User ID=SLBANCAJS;Password=SLBANCAJS;Data Source=ORCL19C;Extended Properties=;Persist Security Info=True;Pooling=True;Max Pool Size=3" />


    <add key="DSN_new" value="Provider=OraOLEDB.Oracle.1;Persist Security Info=False;User ID=SLBANCAUAT1;Password=SLBANCAUAT1;Data Source=RHEL19C;Extended Properties=;Persist Security Info=True;Pooling=True;Max Pool Size=3" />

    <add key="DSN_uat" value="Provider=OraOLEDB.Oracle.1;Persist Security Info=False;User ID=SLBANCAUAT;Password=SLBANCAUAT;Data Source=ORCL19C;Extended Properties=;Persist Security Info=True;Pooling=True;Max Pool Size=3" />
   
	  
	  <add key="DSNILAS" value="Provider=OraOLEDB.Oracle;User ID=SLILASPRD;Password=CENTADMIN;Data Source=ORCL19C;Extended Properties=;Persist Security Info=True;Pooling=True;Max Pool Size=3" />
    <add key="DSNILAS_PRD" value="Provider=OraOLEDB.Oracle;User ID=SLILASPRD;Password=CENTADMIN;Data Source=ORCL19C;Extended Properties=;Persist Security Info=True;Pooling=True;Max Pool Size=3" />



    <add key="TestVersion" value="UAT"></add>

	  <add key="SMTPFrom" value="naseer.ahmed@sidathyder.com.pk" />
    <add key="SMTPAuthenticate" value="1" />
    <add key="SMTPUsername" value="naseer.ahmed" />
    <add key="SMTPPassword" value="456789" />
    <add key="SMTPPort" value="27" />
    <add key="SMTPServer" value="mail01" />
    <!--<add key="USERCRE" value="SLBANCAPRD" /> Old connection-->
    
    <add key="USERCRE" value="SLBANCAJS" />
    <add key="PolicyStatusArray" value="Under Process,Approve,Reject,Request Policy Issuing,Request Approval,Request Medical Requirement,Request Customer Approval,Request Customer Medical Requirement,Finalized" />
    <add key="Delay" value="3000" />
    <add key="SessionTimeOut" value="500" />
    <add key="RightMouseKey" value="false" />
    <add key="NumGen" value="false" />
    <add key="Transfer" value="True" />
    <add key="TransferSub" value="True" />
    <add key="AllowedMethods" value="getPremiumProductwise,getProductFromGlobal,getLetter,checkAndGetClientInfo,Get_OCCUPATICD_Grid,transferProposalFromFileToPolicy" />
    <add key="validate_check" value="true" />
    <add key="validatetext" value="Proposal has been validated" />
    <!-- Values Bancassurance Illustration"/> -->
    <add key="AppName" value="Bancassurance" />
    <!-- Loging configuration -->
    <add key="ActivityLog" value="Y" />
    <add key="folderPath" value="UploadedFiles" />
    <add key="fileName" value="proposalStatus.xls" />
    <add key="downloadFileName" value="downloadProposalStatus.xls" />
    <add key="downloadProposalInquiry" value="downloadProposalInquiry.xls" />
    <add key="downloadIlasMisName" value="downloadProposalIlasMis" />
    <add key="downloadDataDumpName" value="downloadProposalDataDump" />
    <add key="downloadBancaName" value="downloadProposalBanca" />
    <add key="downloadUblName" value="downloadProposalUbl" />
    <add key="downloadIlasName" value="downloadProposalIlas" />
    <add key="prototypeFilePath" value="UploadedFiles\\prototypeProposalFile.xls" />
    <add key="prototypeInquiryFilePath" value="UploadedFiles\\prototypeProposalInquiry.xls" />
    <add key="prototypeIlasMisFilePath" value="UploadedFiles\\prototypeIlasMisFile.xls" />
    <add key="prototypeDataDumpFilePath" value="UploadedFiles\\prototypeDataDumpFile.xls" />
    <add key="prototypeBancaFilePath" value="UploadedFiles\\prototypeBancaFile_New1.xls" />
    <add key="prototypeUblFilePath" value="UploadedFiles\\prototypeUblFile.xls" />
    <add key="prototypeCBCFilePath" value="UploadedFiles\\prototypeCBCFile.xls" />
    <add key="prototypeIlasFilePath" value="UploadedFiles\\prototypeIlasFile.xls" />
    <add key="ILASKEY" value="SLILASPRD" />
    <add key="CreateReasons" value="Y" />
    <add key="ShowReasonsTo" value="A,S" />
    <add key="DBUSER" value="SLILASPRD" />
    <add key="CompanyCodes" value="C,D" />
    <add key="BOPSFlow" value="1,2,3,5,6,7,8,B" />
    <add key="CompanyFlow" value="C,D" />
  </appSettings>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR={1}'" />
  </connectionStrings>
</configuration>