<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="/bin;CrystalReports/bin;"/>
		</assemblyBinding>
		<CompatSortNLSVersion enabled="4096"/>
	</runtime>
  <location path="Presentation/images;Presentation/Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
	<system.web>
		<compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
    
    </compilation> 
    
    <authentication mode="Forms">
			<forms name="SafeMedLogin" loginUrl="Presentation/LoginPage.aspx" protection="All" path="/"/>
		</authentication>
    <authorization>
  
			<!-- Deny anonymous users -->
			<allow users="*"/>
		</authorization>
    
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB"/>
		<httpRuntime maxRequestLength="32768"/>
		<xhtmlConformance mode="Legacy"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<appSettings>
		<add key="Database" value="Oracle"/>
		<add key="FILTERS" value="ProgrammableLengthFilter"/>
		<add key="EnableCache" value="True"/>
		<add key="DisabilityStyle" value="test"/>
		<add key="NoOfListerRows" value="20"/>
		<add key="NoOfTabularRows" value="20"/>
		<add key="Audit" value="N"/>
		<!-- Error Log -->
		<add key="ExceptionLogEnabled" value="true"/>
		<add key="ExceptionLogPath" value="errorlogs\SampleXMLLog.xml"/>
		<add key="ExceptionLogTokens" value="Concurrency,DEFAULT,Foreign,Timeout,timeout,TIMEOUT,Thread,Input,string,format,Object,reference"/>
		<add key="GlobalVariable" value="None"/>
		<add key="DSN" value="Provider=MSDAORA.1;User ID=SLBANCAPRD;Password=SLBANCAPRD;Data Source=o12c1;Extended Properties=;Persist Security Info=True;Pooling=True;Max Pool Size=3"/>
		<add key="DSNILAS" value="Provider=MSDAORA.1;User ID=SLILASPRD;Password=SLILASPRD;Data Source=o12c1;Extended Properties=;Persist Security Info=True;Pooling=True;Max Pool Size=3"/>
		<add key="SMTPFrom" value="naseer.ahmed@sidathyder.com.pk"/>
		<add key="SMTPAuthenticate" value="1"/>
		<add key="SMTPUsername" value="naseer.ahmed"/>
		<add key="SMTPPassword" value="456789"/>
		<add key="SMTPPort" value="27"/>
		<add key="SMTPServer" value="mail01"/>
		<add key="USERCRE" value="SLBANCAPRD"/>
		<add key="PolicyStatusArray" value="Under Process,Approve,Reject,Request Policy Issuing,Request Approval,Request Medical Requirement,Request Customer Approval,Request Customer Medical Requirement,Finalized"/>
		<add key="Delay" value="3000"/>
		<add key="SessionTimeOut" value="500"/>
		<add key="RightMouseKey" value="false"/>
		<add key="NumGen" value="false"/>
		<add key="Transfer" value=""/>
		<add key="TransferSub" value="True"/>
		<add key="AllowedMethods" value="getPremiumProductwise,getProductFromGlobal,getLetter,checkAndGetClientInfo,Get_OCCUPATICD_Grid,transferProposalFromFileToPolicy"/>
		<add key="validate_check" value="true"/>
		<add key="validatetext" value="Proposal has been validated"/>
		<!-- Values Bancassurance Illustration"/> -->
		<add key="AppName" value="Bancassurance"/>
		<!-- Loging configuration -->
		<add key="ActivityLog" value="Y"/>
		<add key="folderPath" value="UploadedFiles"/>
		<add key="fileName" value="proposalStatus.xls"/>
		<add key="downloadFileName" value="downloadProposalStatus.xls"/>
		<add key="downloadIlasMisName" value="downloadProposalIlasMis"/>
		<add key="downloadDataDumpName" value="downloadProposalDataDump"/>
		<add key="downloadBancaName" value="downloadProposalBanca"/>
		<add key="downloadUblName" value="downloadProposalUbl"/>
		<add key="downloadIlasName" value="downloadProposalIlas"/>
		<add key="prototypeFilePath" value="UploadedFiles\\prototypeProposalFile.xls"/>
		<add key="prototypeIlasMisFilePath" value="UploadedFiles\\prototypeIlasMisFile.xls"/>
		<add key="prototypeDataDumpFilePath" value="UploadedFiles\\prototypeDataDumpFile.xls"/>
		<add key="prototypeBancaFilePath" value="UploadedFiles\\prototypeBancaFile.xls"/>
		<add key="prototypeUblFilePath" value="UploadedFiles\\prototypeUblFile.xls"/>
		<add key="prototypeIlasFilePath" value="UploadedFiles\\prototypeIlasFile.xls"/>
		<add key="ILASKEY" value="SLILASPRD"/>
		<add key="CreateReasons" value="Y"/>
		<add key="ShowReasonsTo" value="A,S"/>
		<add key="DBUSER" value="SLILASPRD"/>
	</appSettings>
</configuration>
